{% extends 'base.html.twig' %}

{% block title %}Nico Symfony Projet{% endblock %}

{% block body %}
        <main class="block_main accueil">
            


            <div>
            </div>
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


