{% extends 'base.html.twig' %}

{% block title %}Nico Symfony Projet{% endblock %}
{% block header %}
            <header class="block_header">
            
                <div class="header_container">

                    <a class="link_back"><i class="fas fa-chevron-left"></i></a>

                    <div class="user_info">
                        <img class="profile_picture" src="assets/avatar.png"/>
                        <h2 class="profile_name">Blog de voyages by Nico</h2>
                        <p class="location">Angers</p>
                    </div>

                    <a class="profile"><i class="fas fa-power-off"></i></a>
                </div>

                <nav class="block_nav">
                    <ul class="nav_menu">
                        <li>
                            <a class="nav_item" href="#"><i class="fas fa-home nav_icon"></i><p class="nav_title">Home</p></a>
                        </li>
                        <li>
                            <a class="nav_item" href="#"><i class="far fa-calendar nav_icon"></i><p class="nav_title">Mes voyages</p></a>
                        </li>
                        <li>
                            <a class="nav_item" href="#"><i class="far fa-comment-alt nav_icon"></i><p class="nav_title">Me Contacter</p></a>
                        </li>
                        <li>
                            <a class="nav_item" href="#"><i class="fas fa-info-circle nav_icon"></i><p class="nav_title">A propos de moi</p></a>
                        </li>
                    </ul>
                </nav>
            </header>
            {% endblock %}
{% block body %}
        <main class="block_main accueil">
            


            <div>
            </div>
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


