{% extends 'base.html.twig' %}

{% block title %}Nico Symfony Projet{% endblock %}

{% block body %}
        <main class="block_main">
            <a href="/actu">C'EST PARTI</a>
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


