{% extends 'base.html.twig' %}

{% block title %}Nico Symfony Projet{% endblock %}

{% block body %}
        <main class="block_main index">
            <div class="text-center landing">
                <p class="text-lighter title">Bienvenue sur mon espace</p>
                <p class="text-bold subtitle">N'hésitez pas à me contacter pour avoir plus d'informations !</p>
            </div>
            <div class="landing-button">
                <a href="/actu" ><p class="button green">C'EST PARTI</p></a>
            </div>
        </main>
{% endblock %}

{% block javascripts %}{% endblock %}


