<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
            
    <script src="https://kit.fontawesome.com/f8504e7ce3.js" crossorigin="anonymous"></script>
</head>
<body class="block_body">
    {% block header %}
    
    {% endblock %}

    {% block body %}

    {% endblock %}
    <script>
        let header = document.getElementsByClassName('block_header')[0];
        let mg = document.getElementById('mg');
        mg ? mg.setAttribute('style', `height: ${header.offsetHeight}px`): false;
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>

