<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
            
    <script src="https://kit.fontawesome.com/f8504e7ce3.js" crossorigin="anonymous"></script>
</head>
<body class="block_body">
    {% block header %}
            <header class="block_header purple-shadow">
            
                <div class="header_precontainer">
                    <div class="header_container">

                        <a class="link_back" href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a>

                        <div class="user_info">
                            <img class="profile_picture" src="assets/avatar.png"/>
                            <h2 class="profile_name">Blog de voyages by Nico</h2>
                            <p class="location">Angers</p>
                        </div>

                        <a class="profile"><i class="fas fa-power-off"></i></a>
                    </div>

                    <nav class="block_nav">
                        <ul class="nav_menu">
                            <li>
                                <a class="nav_item" href="/accueil"><i class="fas fa-home nav_icon"></i><p class="nav_title">Home</p></a>
                            </li>
                            <li>
                                <a class="nav_item" href="/voyages"><i class="far fa-calendar nav_icon"></i><p class="nav_title">Mes voyages</p></a>
                            </li>
                            <li>
                                <a class="nav_item" href="#"><i class="far fa-image nav_icon"></i><p class="nav_title">Ma galerie</p></a>
                            </li>
                            <li>
                                <a class="nav_item" href="#"><i class="fas fa-info-circle nav_icon"></i><p class="nav_title">A propos de moi</p></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% endblock %}

    {% block body %}
    {% endblock %}  
    <script>
    let header = document.getElementsByClassName('block_header')[0];
    let mg = document.getElementById('mg');
    mg ? mg.setAttribute('style',`height: ${header.offsetHeight}px`): false;
    let body = document.getElementsByClassName('block_body')[0];
</script>
{% block javascripts %}{% endblock %}
</body>
</html>

